@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

 

}

body {
  margin: 0;
  background: #F7F8FD;
  display: flex;
  place-items: center;
  width: 100vw;
}
.NAV{
  width: 100vw;
  color: white;
  background: radial-gradient(166.82% 166.82% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
}
.BTN{
  border-radius: 10px;
  background: #AD1FEA;
}
.MainDiv > div{
  width: 223px;
  height: 178px;   
}
.SUG{  
  width: 100vw;
  background-color: #373F68;
  color: white;
}
.FEED{
  display: flex;
  flex-direction: column;
  align-items: center;
  place-items: center;
}


